<div class="main-visual">
    <div class="main-visual-container">
        <p class="main-visual-title">
            Lorem lpsum
        </p>
        <p class="main-visual-subtitle">
            simply dummy text of the printing
        </p>
    </div>
</div>
<div class="portfolio">
    <div class="portfolio-container">
        <p class="content-title">
            Portfolio
        </p>
        <p class="content-body">
            It is a long established fact that a reader will be distracted by the readable</br>
            content of a page when looking at its layout.</br>
            The point of using Lorem lpsum is that it has a more-or-less normal distribution of letters
        </p>
        <div class="portfolio-items">
            <div class="portfolio-item">
                <%= image_tag "sketch.jpg", class: "pc-only", alt: "item-1" %>
            </div>
            <div class="portfolio-item">
                <%= image_tag "websuku.png", class: "img-fluid", alt: "item-2" %>
            </div>
            <div class="portfolio-item">
                <%= image_tag "write.jpg", class: "pc-only", alt: "item-3" %>
            </div>
            <div class="portfolio-item">
                <%= image_tag "webcamp.png", class: "img-fluid", alt: "item-4" %>
            </div>
            <div class="portfolio-item">
                <%= image_tag "talk.jpg", class: "pc-only", alt: "item-5" %>
            </div>
            <div class="portfolio-item">
                <%= image_tag "webcamp-mother.png", class: "img-fluid", alt: "item-6" %>
            </div>
        </div>
    </div>
</div>
<div class="feature">
    <div class="feature-container">
        <p class="content-title">
            Feature
        </p>
        <p class="content-body">
            It is a long established fact that a reader will be distracted by the readable</br>
            content of a page when looking at its layout.</br>
            The point of using Lorem lpsum is that it has a more-or-less normal distribution of letters
        </p>
        <div class="feature-items">
            <div class="feature-item">
                <div class="feature-item-icon">
                    <i class="fa-solid fa-code"></i>
                </div>
                <div class="feature-item-title">
                    Strength1
                </div>
                <div class="feature-item-body">
                    Contrary to popular belief, Lorem lpsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                    Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur
                </div>
            </div>
            <div class="feature-item">
                <div class="feature-item-icon">
                    <i class="fa-solid fa-desktop"></i>
                </div>
                    <div class="feature-item-title">
                        Strength2
                    </div>
                    <div class="feature-item-body">
                        Contrary to popular belief, Lorem lpsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                        Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur
                    </div>
                
            </div>
            <div class="feature-item">
                <div class="feature-item-icon">
                    <i class="fa-solid fa-gears"></i>
                </div>
                    <div class="feature-item-title">
                        Strength3
                    </div>
                    <div class="feature-item-body">
                        Contrary to popular belief, Lorem lpsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                        Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="profile">
    <div class="profile-container">
        <p class="content-title">
            Profile
        </p>
        <p class="content-body">
            It is a long established fact that a reader will be distracted by the readable
            content of a page when looking at its layout.
            The point of using Lorem lpsum is that it has a more-or-less normal distribution of letters
        </p>
        <div class="profile-items">
            <div class="profile-item1">
                <%= image_tag "my-icon.jpg", class: "profile-item-img", alt: "profile" %>
            </div>
            <div class="profile-item2">
                <p class="item-title">
                    MyName
                </p>
                <p class="item-body">
                   Contrary to popular belief, Lorem lpsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                    Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur 
                </p>
                <div class="item-title">
                    MySkills
                </div>
                <div class="profile-item-body">
                    HTML/CSS/JavaScript/jQuery/photoShop
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact">
    <div class="contact-container">
        <p class="content-title">
            Contact
        </p>
        <p class="content-body">
            It is a long established fact that a reader will be distracted by the readable
            content of a page when looking at its layout.
            The point of using Lorem lpsum is that it has a more-or-less normal distribution of letters
        </p>
        <div class="contact-items">
            <div class="contact-item">
                <div class="contact-item-content">
                    <p class="item-title">Mail</p>
                    <p class="contact-item-body">xxxx@xxx.com</p>
                    <p class="item-title">Tel</p>
                    <p class="contact-item-body">000-0000-0000</p>
                </div>
            </div>
            <div class="contact-item">
                <div class="contact-item-content">
                    <p class="item-title">SNS</p>
                    <div class="item-body">
                        <div class="sns-icon">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>